.idea/
.DS_Store
.github/workflows/utility/__pycache__/
__pycache__/
node_modules/
package-lock.json

# Yarn Plug'n'Play
.pnp.cjs
.pnp.loader.mjs

# Yarn files and folders
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.yarn/patches/
.yarn/plugins/
.yarn/releases/
.yarn/sdks/
.yarn/versions/

# Optional
yarn.lock
