# Binary
chain-registry-app
chain-registry-app.exe

# macOS
.DS_Store

# Output directories
/bin/
/build/
/dist/

# Go specific
/vendor/
*.o
*.a
*.so

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

.github/workflows/utility/__pycache__

node_modules/

__pycache__/
